DATABASE_URL=postgresql://postgres:mouni7780@localhost:5432/pillsync_db
JWT_SECRET_KEY=supersecretkeypillsyncplatform2026!
JWT_REFRESH_SECRET_KEY=supersecretrefreshkeypillsyncplatform2026!
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7